.dashboardContainer {
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-template-rows: 1fr;
	height: 100vh;
	width: 100vw;
}

.sideBarContainer {
	border-right: 1px solid white;
	background-color: #202020;
	height: 100%;
	display: flex;
	flex-direction: column;
}
.topRowContainer {
	height: 5%;
	width: 100%;
	background-color: #202020;
	border-bottom: 1px solid white;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.topRowContainer > button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 15%;
}
.conversationtopRowContainer {
	height: 5%;
	width: 100%;
	background-color: #202020;
	border-bottom: 1px solid white;
}

.singleConversationContainer {
	height: 7.5%;
	width: 100%;
	background-color: #202020;
	border-bottom: 1px solid rgba(255, 255, 255, 0.124);
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.conversationTitle {
	font-weight: bold;
	font-size: 1.2rem;
	text-decoration: underline;
	margin-left: 2rem;
}

.conversationTitle:hover {
	cursor: pointer;
}
